@model ProjectManager.Models.ScrumMaster

@{
    ViewBag.Title = "View";
}
<br />
<br />
<h2>My Project Status</h2>
<br />

<html>
<head>
    <title>Doughnut Chart</title>
    <script src="~/Scripts/Chart.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #canvas-holder {
            width: 30%;
        }
    </style>
</head>
<body>
    <div id="canvas-holder">
        <canvas id="chart-area" width="750" height="750" />
    </div>


    <script>

        var doughnutData = [
				{
				    value: 100,
				    color: "red",
				    highlight: "#85b7ea",
				    label: "Task A"
				},
				{
				    value: 100,
				    color: "red",
				    highlight: "#85b7ea",
				    label: "Task B"
				},
				{
				    value: 100,
				    color: "green",
				    highlight: "#85b7ea",
				    label: "Task C"
				},


        ];

        window.onload = function () {
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, { responsive: true });
        };



    </script>
</body>

</html>
<br />
<br />
@Html.ActionLink("Create a new project", "Create", "Projects")
<br />
<br />